@font-face {
	font-family:'Decovar Regular24'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf');
}
body {
    background-image: url(./utils/game-background.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Decovar Regular24"; 
}
h1 {
	font-size: 2rem;
	font-weight: 400;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

 .board { 
    margin-top: 10px;  
 } 
 .row {
    display: flex;
 }
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.difficulty, .result-modal button {
    border: none;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Decovar Regular24"; 
    background-color: rgb(239, 239, 239);
}

.easy {
    width: 52px;
    height: 52px;
    font-size: 1.75rem;
}
.medium {
    width: 36px;
    height: 36px;
    font-size: 1.3rem;
}
.hard {
    width: 23px;
    height: 23px;
    font-size: 1rem;
}
.light {
    background-color: #aad751;
}
.dark {
    background-color: #a2d149;
}
.light.revealed {
    background-color: #d4b597;
}
.dark.revealed {
    background-color: #e3c19e;
}

._1 {
    color: rgb(41, 128, 185);
}
._2 {
    color: hsl(107.47deg 60.26% 29.61%);;
}
._3 {
    color: #df4f4f;
}
._4 {
    color: hsl(329.19deg 31.62% 77.06%);
}
dialog {
    border: none;
    border-radius: 10px;
}
.result-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 190px;
    padding: 20px;
}
.result-modal h2 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
}
.result-modal p {
    margin: 0;
    margin-bottom: 25px;
    padding: 0px;
}
.result-modal button {
    margin: 0;
    font-size: 16px;
}
.result-modal button:hover {
    background-color: rgb(230, 230, 230);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}




